# Python Data Cleaning and Analysis - Autolib dataset

## 1.0 Importing our Libraries

In [313]:
# Importing the pandas library
import pandas as pd
# Importing the numpy library
import numpy as np

## 1.1 Reading the Dataset from our CSV file

The dataset we will use contains Autolib database from Dalberg
[link database](http://bit.ly/autolib_dataset)

In [314]:
# Let's read the data from the CSV file and create the dataframe to be used
df = pd.read_csv('/content/Autolib_dataset (2).csv')

## 1.2 Previewing our Dataset

In [315]:
#show the first ten rows
df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

## 1.3 Accessing Information about our Dataset

In [316]:
# To know the information about the dataset
df.info()
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB
(5000, 25)

## 1.4 Cleaning our Dataset

### 1.41) Validity

In [317]:
df.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [318]:
#change column names to lower case, remove leading and trailing spaces and replacing gaps in columns with underscores
df.columns = df.columns.str.strip().str.lower().str.replace(' ','_')

In [319]:
#Checking changes
df.columns

Index(['address', 'cars', 'bluecar_counter', 'utilib_counter',
       'utilib_1.4_counter', 'charge_slots', 'charging_status', 'city',
       'displayed_comment', 'id', 'kind', 'geo_point', 'postal_code',
       'public_name', 'rental_status', 'scheduled_at', 'slots', 'station_type',
       'status', 'subscription_status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [320]:
df.columns = df.columns.str.replace('_counter','_nos')

In [321]:
#Checking changes
df.columns

Index(['address', 'cars', 'bluecar_nos', 'utilib_nos', 'utilib_1.4_nos',
       'charge_slots', 'charging_status', 'city', 'displayed_comment', 'id',
       'kind', 'geo_point', 'postal_code', 'public_name', 'rental_status',
       'scheduled_at', 'slots', 'station_type', 'status',
       'subscription_status', 'year', 'month', 'day', 'hour', 'minute'],
      dtype='object')

### 1.42) Accuracy

The values in the rows and columns were found to be accurate and matching up

### 1.43) Completeness

In [322]:
# Checking for null values
# Null values in the Displayed comment and Scheduled at columns are expected
df.isnull().sum()

address                   0
cars                      0
bluecar_nos               0
utilib_nos                0
utilib_1.4_nos            0
charge_slots              0
charging_status           0
city                      0
displayed_comment      4889
id                        0
kind                      0
geo_point                 0
postal_code               0
public_name               0
rental_status             0
scheduled_at           4953
slots                     0
station_type              0
status                    0
subscription_status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

No need to drop any values as they are expected

### 1.44) Consistency

In [323]:
#Check for duplicates
df.duplicated().sum()

0

No need to drop duplicates as there are none

### 1.45) Uniformity

In [324]:
#merge year ,month, day, hour amd minute columns as timestamp
df['timestamp'] = df['year'].astype(str) +'/'+ df['month'].astype(str) + '/' + df['day'].astype(str) +' '+ df['hour'].astype(str) + ':' + df['minute'].astype(str)
df['timestamp'].head(20)

0     2018/4/8 11:43
1      2018/4/6 7:24
2     2018/4/3 20:14
3      2018/4/4 4:37
4     2018/4/8 17:23
5       2018/4/6 7:2
6     2018/4/8 18:20
7     2018/4/4 22:13
8     2018/4/2 22:58
9      2018/4/4 15:2
10     2018/4/1 4:39
11     2018/4/6 9:20
12    2018/4/5 12:22
13    2018/4/8 21:54
14      2018/4/6 8:0
15     2018/4/2 0:21
16     2018/4/3 19:0
17    2018/4/9 12:14
18    2018/4/9 20:58
19    2018/4/9 21:31
Name: timestamp, dtype: object

In [325]:
#convert timestamp column to datetime
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [330]:
#check datatypes
df.dtypes

address                        object
cars                            int64
bluecar_nos                     int64
utilib_nos                      int64
utilib_1.4_nos                  int64
charge_slots                    int64
charging_status                object
city                           object
displayed_comment              object
id                             object
kind                           object
geo_point                      object
postal_code                     int64
public_name                    object
rental_status                  object
scheduled_at                   object
slots                           int64
station_type                   object
status                         object
subscription_status            object
year                            int64
month                           int64
day                             int64
hour                            int64
minute                          int64
timestamp              datetime64[ns]
dtype: object

In [326]:
df.columns

Index(['address', 'cars', 'bluecar_nos', 'utilib_nos', 'utilib_1.4_nos',
       'charge_slots', 'charging_status', 'city', 'displayed_comment', 'id',
       'kind', 'geo_point', 'postal_code', 'public_name', 'rental_status',
       'scheduled_at', 'slots', 'station_type', 'status',
       'subscription_status', 'year', 'month', 'day', 'hour', 'minute',
       'timestamp'],
      dtype='object')

In [335]:
#drop unecessary columns geo_point,cars,displayed_comment,scheduled_at,id,rental_status,status,subscription_status,kind,charging_status,slots,station_type
dfinal = df.drop(columns=['geo_point','cars','displayed_comment','scheduled_at','id','rental_status','status','subscription_status','kind','charging_status','slots','station_type'])

In [336]:
dfinal.head()

                              address  bluecar_nos  ...  minute           timestamp
0                 2 Avenue de Suffren            0  ...      43 2018-04-08 11:43:00
1           145 Rue Raymond Losserand            6  ...      24 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy            3  ...      14 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©            3  ...      37 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret            3  ...      23 2018-04-08 17:23:00

[5 rows x 14 columns]

## 1.5 Analysis

Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [340]:
#Get a subset where the city is Paris, month is April and year is 2018
dfq = dfinal[(dfinal['city']== 'Paris') & (dfinal['year']==2018) & (dfinal['month']== 4)]

dfq.head()

                              address  bluecar_nos  ...  minute           timestamp
0                 2 Avenue de Suffren            0  ...      43 2018-04-08 11:43:00
1           145 Rue Raymond Losserand            6  ...      24 2018-04-06 07:24:00
3              51 Rue EugÃ¨ne OudinÃ©            3  ...      37 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret            3  ...      23 2018-04-08 17:23:00
5                8 Boulevard Voltaire            0  ...       2 2018-04-06 07:02:00

[5 rows x 14 columns]

In [341]:
#Checking the shape of subset
dfq.shape

(2816, 14)

In [347]:
#Getting the most popular hour of the day for picking up a shared car
#The hour when difference of cars taken out of stations is the highest
a=dfq.groupby('hour')['bluecar_nos'].sum()
pop_hour = a.diff()
pop_hour.loc[pop_hour==pop_hour.min()]

hour
22   -71.0
Name: bluecar_nos, dtype: float64

## 1.6 Bonus Questions

In [348]:
#Getting the least popular hour of the day for picking up a shared car
#The hour when difference of cars put into stations is the highest

pop_hour.loc[pop_hour==pop_hour.max()]

hour
21    119.0
Name: bluecar_nos, dtype: float64

In [364]:
#Most popular station in Paris 
#Has the highest number of cars
stat = dfq.groupby('public_name')['bluecar_nos'].sum()
stat.loc[stat==stat.max()]

public_name
Paris/Philippe Auguste/126    42
Name: bluecar_nos, dtype: int64

In [365]:
#Most popular station in Paris at most popular hour
#Has the highest number of cars
stat = dfq[dfq['hour']==22]
stati_pop = stat.groupby('public_name')['bluecar_nos'].sum().sort_values(ascending=False)
stati_pop.loc[stati_pop==stati_pop.max()]

public_name
Paris/Ravignan/1    9
Name: bluecar_nos, dtype: int64

In [360]:
#Most popular postal code for picking up cars
#Has the highest number of cars
post = dfq.groupby('postal_code')['bluecar_nos'].sum()
post.loc[post==post.max()]

postal_code
75015    609
Name: bluecar_nos, dtype: int64

In [368]:
#Checking if most popular station is in the most popular postcode
dfq.loc[dfq['public_name']=='Paris/Philippe Auguste/126',['postal_code']]

      postal_code
332         75011
340         75011
610         75011
1263        75011
1534        75011
2196        75011
3302        75011
4004        75011
4464        75011
4709        75011
4815        75011

The most popular station is not in the most popular postcode overall

In [369]:
#Most popular postal code for picking up cars at most popular picking hour
#Has the highest number of cars
posttime = dfq[dfq['hour']==22]
posttime_pop= posttime.groupby('postal_code')['bluecar_nos'].sum()
posttime_pop.loc[posttime_pop==posttime_pop.max()]

postal_code
75016    35
Name: bluecar_nos, dtype: int64

The most popular station is not in the most popular postcode at the most popular picking hour

### Considering Utilib and Utilib 1.4

Most popular hour of day for picking up cars

In [374]:
#Getting the most popular hour of the day for picking up Utilb car
#The hour when difference of cars taken out of stations is the highest
a=dfq.groupby('hour')['utilib_nos'].sum()
pop_hour_util = a.diff()
pop_hour_util.loc[pop_hour_util==pop_hour_util.min()]

hour
9   -7.0
Name: utilib_nos, dtype: float64

In [375]:
#Getting the most popular hour of the day for picking up Utilib_1.4 car
#The hour when difference of cars taken out of stations is the highest
b=dfq.groupby('hour')['utilib_1.4_nos'].sum()
pop_hour_util4 = b.diff()
pop_hour_util4.loc[pop_hour_util4==pop_hour_util4.min()]

hour
11   -8.0
18   -8.0
Name: utilib_1.4_nos, dtype: float64

Least popular hour for picking up cars

In [376]:
#Getting the least popular hour of the day for picking up Utilib car
#The hour when difference of cars put into stations is the highest

pop_hour_util.loc[pop_hour_util==pop_hour_util.max()]

hour
6    8.0
Name: utilib_nos, dtype: float64

In [377]:
#Getting the least popular hour of the day for picking up Utilib 1.4 car
#The hour when difference of cars put into stations is the highest

pop_hour_util4.loc[pop_hour_util4==pop_hour_util4.max()]

hour
21    9.0
Name: utilib_1.4_nos, dtype: float64

Most popular station for picking up cars

In [379]:
#Most popular station in Paris for Utilib 
#Has the highest number of cars
stat_util = dfq.groupby('public_name')['utilib_nos'].sum()
stat_util.loc[stat_util==stat_util.max()]

public_name
Paris/Mac Mahon/5             4
Paris/Porte de Montrouge/8    4
Name: utilib_nos, dtype: int64

In [380]:
#Most popular station in Paris for Utilib 1.4
#Has the highest number of cars
stat_util4 = dfq.groupby('public_name')['utilib_1.4_nos'].sum()
stat_util4.loc[stat_util4==stat_util4.max()]

public_name
Paris/Porte de Montrouge/8    7
Name: utilib_1.4_nos, dtype: int64

Most popular station for picking up cars at most popular hour

In [385]:
#Most popular station in Paris at most popular hour
#Has the highest number of cars
stat = dfq[dfq['hour']==9]
stati_popU = stat.groupby('public_name')['utilib_nos'].sum().sort_values(ascending=False)
stati_popU.loc[stati_popU==stati_popU.max()]

public_name
Paris/FrÃ©dÃ©ric LoliÃ©e/5    1
Paris/Mac Mahon/5             1
Paris/Victoria/17             1
Paris/Picpus/7                1
Paris/Marcadet/150            1
Name: utilib_nos, dtype: int64

In [389]:
#Most popular station in Paris at most popular hour
#Has the highest number of cars
stat = dfq[dfq['hour']==11]
stati_popU4 = stat.groupby('public_name')['utilib_1.4_nos'].sum().sort_values(ascending=False)
stati_popU4.loc[stati_popU4==stati_popU4.max()]

public_name
Paris/Tolbiac/15         1
Paris/Mathis/35          1
Paris/Monge/58           1
Paris/FÃ©dÃ©ration/10    1
Paris/Berthier/97        1
Paris/Tolbiac/145        1
Paris/Tolbiac/41         1
Paris/Parmentier/2       1
Paris/Vaugirard/20       1
Paris/Malesherbes/7      1
Name: utilib_1.4_nos, dtype: int64

In [390]:
#Most popular station in Paris at most popular hour
#Has the highest number of cars
stat = dfq[dfq['hour']==18]
stati_popU4 = stat.groupby('public_name')['utilib_1.4_nos'].sum().sort_values(ascending=False)
stati_popU4.loc[stati_popU4==stati_popU4.max()]

public_name
Paris/Ãmile Laurent/1    1
Paris/Milton/12           1
Paris/Emile Zola/6        1
Paris/Choisy/188          1
Paris/Murat/1             1
Paris/Belleville/22       1
Paris/Georges Berger/2    1
Paris/Lobineau/9          1
Paris/Alexandrie/7        1
Paris/Adolphe Mille/8     1
Name: utilib_1.4_nos, dtype: int64

Most popular postcode

In [391]:
#Most popular postal code for picking up Utilib cars
#Has the highest number of cars
postU = dfq.groupby('postal_code')['utilib_nos'].sum()
postU.loc[postU==postU.max()]

postal_code
75015    20
75016    20
75017    20
Name: utilib_nos, dtype: int64

In [392]:
#Most popular postal code for picking up Utilib 1.4cars
#Has the highest number of cars
postU4 = dfq.groupby('postal_code')['utilib_1.4_nos'].sum()
postU4.loc[postU4==postU4.max()]

postal_code
75017    40
Name: utilib_1.4_nos, dtype: int64